<head>
  <link rel="stylesheet" href="app.css" />
  <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"
  ></script>
</head>
<body>
  <header>
    <h1>toNOTdo<span>list</span></h1>
    <h2>A simple app built with node to make sure we remain unproductive</h2>
  </header>

  <section class="form">
    <input type="text" id="todoInput" placeholder="I don't want to..." />
  </section>

  <ul class="list"></ul>

  <script src="app.js"></script>
</body>
